---
import { Icon } from 'astro-icon';

const items = [
  [
    {
      title: 'Masaüstü',
      description:
        'İlk kullanıma sunulan Rıhtım projemizle yola başladık fakat yepyeni projelerle gelişmeye devam ediyoruz',
    },
    {
      title: 'Yapay Zekâ',
      description:
        'Kendi asistanımızı geliştiriyoruz. Elbette en gelişmiş yapay zekâlara rakip olamayız fakat bu basit eğitilmiş sistem ile hizmet etmek için çabalıyoruz',
    },
  ],
  [
    {
      title: 'Oyun Modları',
      description:
        'Minecraft modları ile başladığımız yolumuza diğer oyunlarıda hedef alarak devam ediyoruz',
    },
    {
      title: 'Botlar',
      description:
        'Discord botumuz Thunar ile sunucularınıza yeni nesil güvenliği ve sistemleri getiriyoruz',
    },
  ],
];
---

<section class="scroll-mt-16" id="features">
  <div class="px-4 py-16 mx-auto max-w-4xl lg:px-8 lg:py-20">
    <div class="mb-10 md:mx-auto sm:text-center md:mb-12 max-w-xl">
      <p class="text-base text-primary-600 dark:text-primary-200 font-semibold tracking-wide uppercase">Alanlarımız</p>
      <h2 class="text-2xl md:text-3xl font-bold leading-tighter tracking-tighter mb-4 font-heading">
        <span class="whitespace-nowrap">Kapgan Federasyonu</span> için Alanları Keşfedin
      </h2>
      <p class="max-w-xl mx-auto sm:text-center text-lg text-gray-600 dark:text-slate-400">
        Kapgan Federasyonu, tüm alanlarda gelişmeye çalışan bir şirkettir. Birden fazla branşta çalışmalar yürütmeye devam etmektedir
      </p>
    </div>
    <div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
      {
        items.map((subitems) => (
          <div class="space-y-8 sm:px-8">
            {subitems.map(({ title, description, icon }) => (
              <div class="flex flex-row max-w-md">
                <div class="mb-4 mr-4">
                  <div class="flex items-center justify-center w-12 h-12 rounded-full bg-primary-500 dark:bg-primary-700">
                    {icon && <Icon name={icon} class="w-6 h-6 icon-light" />}
                  </div>
                </div>
                <div>
                  <h3 class="mb-3 text-sm font-bold">{title}</h3>
                  <p class="text-gray-600 dark:text-slate-400">{description}</p>
                </div>
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </div>
</section>
